#header__topbar {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #D4D4D4; /* dark gray */
    background:  #F1F1F1; /* light gray */
}

.header__control {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.header__nav {
    flex-grow: 1;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.header__nav ul {
    text-align: right;
}

.header__nav li {
    display: inline;
    padding: 15px;
}

.header__nav a {
    color:#3B94A7;
}

.header__nav a:hover{
   /* color:#3B94A7; */
    color: #112C53;
}