.selling-products__control{
    display:flex;
    flex-wrap: wrap;
}


.column-4{
    width: 30%;
    margin: 15px 5px;
    padding: 0 5px;
    transition-property:position;
    
    position: relative;
    top: 0px;
}

.column-4:hover{
    position: relative;
    top: -2px;
}

.column-4 img {
    width: 250px;
    height: auto;
}

.column-4 h4{
    margin: 5px 0;
}

.column-4 .fas{
    color: rgb(240, 180, 51);
}

.column-4 .far{
    color: rgb(240, 180, 51);
}